/* Global */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --yellow: #fffad1;
  --color: #deebf8;
  --dark-blue: #293264;
  --main-button: #4d5b9e;
  --light-blue: #dbdef0;
  --bg-color: #f5f7fb;
  --color: #94d7a2;
  --color: #d6dbf5;
  --pink: #f8bcbc;
}

/* Typography */
html {
  font-size: 1.5rem;
}

body {
  background-color: var(--bg-color);
  color: var(--dark-blue);
  line-height: 1.5;
  font-family: "Inter", sans-serif;
}

h1 {
  font-family: "Karla";
  font-weight: 700;
  font-size: 1.95rem;
}

h3 {
  font-weight: 400;
  font-size: 1.1rem;
}

/* Button */

.start--button {
  font-family: "Inter";
  font-weight: 500;
  font-size: 1rem;
  background-color: var(--main-button);
  color: var(--bg-color);

  border: none;
  border-radius: 15px;
  padding: 1.125em 4em;

  cursor: pointer;
}

.start--button:hover {
  background-color: var(--bg-color);
  color: var(--dark-blue);
  font-weight: 700;
  outline: 1px solid var(--dark-blue);
}

.start--button:focus {
  outline: 2px solid var(--pink);
}

/* Layout */

html,
body,
#root {
  min-height: 100vh;
}

#root {
  display: grid;
  place-content: center;
}

/* Start Component */

.start--container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start--title {
  margin-bottom: 0 3em;
}

.start--description {
  margin-bottom: 1.25em;
}

/* Quiz Component */

/* Question Component */

.question--container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  max-width: 600px;
  border-bottom: 1px solid var(--light-blue);
  padding: 1.25em 0;
}

.question--title {
  font-family: "Karla";
  font-size: 1rem;
  margin-bottom: 0.2em;
}
.question--answers {
  display: flex;
  gap: 0.7em;
  flex-wrap: wrap;
}

.question--answer {
  font-weight: 500;
  font-size: 0.7rem;

  padding: 0.3em 1em;
  outline: 0.8px solid var(--main-button);
  border-radius: 0.8em;
  cursor: pointer;
}

.question--answer:hover,
.question--answer:focus {
  background-color: var(--light-blue);
  outline: none;
}

/* .incorrect {
  border: 3px solid red;
}

.correct {
  border: 3px solid green;
} */
