/* Global */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --yellow: #fffad1;
  --color: #deebf8;
  --dark-blue: #293264;
  --main-button: #4d5b9e;
  --light-blue: #dbdef0;
  --bg-color: #f5f7fb;
  --correct-answer: #94d7a2;
  --color: #d6dbf5;
  --incorrect-answer: #f8bcbc;
}

/* Typography */
html {
  font-size: 1.1rem;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 1.5rem;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--dark-blue);
  line-height: 1.2;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
}

h1 {
  font-family: "Karla";
  font-weight: 700;
  font-size: 1.95rem;
}

.question--title {
  font-family: "Karla";
  font-size: 1rem;
}

.answer {
  font-weight: 500;
  font-size: 0.65rem;
}

/* Button */

button {
  font-family: "Inter";
  font-weight: 500;
  font-size: 0.65rem;
  background-color: var(--main-button);
  color: var(--bg-color);

  border: none;
  border-radius: 15px;
  padding: 1em 2.5em;

  cursor: pointer;
  margin: 0 auto;
}

button:hover {
  background-color: var(--bg-color);
  color: var(--dark-blue);

  outline: 1px solid var(--dark-blue);
}

button:focus {
  outline: 2px solid var(--pink);
}

/* Layout */

html,
body,
#root {
  min-height: 100vh;
}

#root {
  display: grid;
  place-content: center;
}

/* Start Component */

.start--container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start--title {
  margin-bottom: 0 3em;
}

.start--description {
  margin-bottom: 1.25em;
}

/* Quiz Component */

.quiz--container {
  border: 1px solid red;
  min-width: 300px;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

/* Question Component */

.question--container {
  display: flex;
  flex-direction: column;

  gap: 0.5em;

  border-bottom: 1px solid var(--light-blue);
  margin: 0 auto;
  padding: 1.25em 0;
}

.question--title {
  margin-bottom: 0.2em;
}

.answers--list {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.answer {
  padding: 0.3em 1em;
  border-radius: 0.8em;
  outline: 1px solid var(--main-button);
  cursor: pointer;
}

.answer:hover,
.answer:focus {
  background-color: var(--light-blue);
  outline: none;
}

/* Results Styles*/

.selected {
  background-color: var(--light-blue);
  outline: none;
}

.correct {
  background-color: var(--correct-answer);
  outline: 1px solid var(--correct-answer);
}

.incorrect {
  background-color: var(--incorrect-answer);
  outline: 1px solid var(--incorrect-answer);
  opacity: 0.5;
}

/* Results Component */

.quiz--results {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-top: 1.5em;
}

footer > button {
  margin: 0;
}

.quiz--results__text {
  font-weight: 700;
}
